* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.map-container {
    height: 300px;
}

.address input {
    text-transform: capitalize;
}

.form-control,
.form-select {
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0px;
    background-color: transparent;
    padding-left: 5px;
    box-shadow: none;
    outline: none;
    color: #464a4c;
}

.form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #f1f1f1;
    outline: none;
    box-shadow: none;
}

.form-label {
    color: #888;
}

.btn-primary {
    background-color: #226582 !important;
    border-color: #226582 !important;
}

.btn-primary:hover {
    background-color: #15485e !important;
    border-color: #15485e !important;
}

.btn-outline-primary {
    color: #226582;
    border-color: #226582;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #226582;
    border-color: #226582;
}

.btn:focus {
    box-shadow: none !important;
}

p,
span,
div {
    color: #464a4c;
}

.input-group-text {
    background: none;
    border: none;
}